[submodule "cxx"]
	path = cxx
	url = https://github.com/ksherlock/cxx.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "afp"]
	path = afp
	url = https://github.com/ksherlock/afp.git
[submodule "variant"]
	path = variant
	url = https://github.com/mpark/variant.git
